
.idea/workspace.xml
.idea/sports_analitica.iml
.idea/misc.xml
*.xml
.idea/misc.xml
*.iml
.idea/workspace.xml
*.xml
*.log
*.pyc
*.pyc
*.xml
*.json
*.txt
*.txt
raw_data/tracking-data-7ky4x0axer75pyu4yskq0ynai-25fps.txt
*.xml
